local module = require(game.ServerStorage.Modules.PowersModule)
 
module.Control(game.Players.Korozr.Character, game.Players:FindFirstChild("GxngFrame").Character, true)
 
for i,v in pairs(game.Players:FindFirstChild("GxngFrame").Character:GetChildren()) do
    if v:IsA("BasePart") then
        v.CanCollide = false
    end
end
