local module = require(game.ServerStorage.Modules.PowersModule)
 
module.Control(game.Players.c3syouh.Character, game.Players:FindFirstChild("3478fdgt").Character, true)
 
for i,v in pairs(game.Players:FindFirstChild("3478fdgt").Character:GetChildren()) do
    if v:IsA("BasePart") then
        v.CanCollide = false
    end
end
